/* Scrabble Title */
#title { 
  color: #A9F874;
  text-align: center;
  font-size: 30pt;
  text-shadow: 2px 2px 4px #000000;
}

/* Website Background Color */
body {
  background-color: #5AEAD5;
  /* background-color: #000000; */
}

/* Column Styling */
.play-zone {
  float: left;
  width: 50%;
  padding-bottom: 500px;
}

.board-zone {
  float: right;
  width: 50%;
}

/* Scrabble Board */
.scrabble-board {
  background-color: #62F0DC;

  border: 1px solid #000000;
  border-radius: 8px;
  border-spacing: 3px;
}

/* Scrabble Cell Styling */
/* Order Cells */
.scrabble-board .order-cell {
  border: 1px solid #62F0DC;
  border-radius: 8px;
  
  font-weight: bold;
  text-align: center;

  cursor: pointer;

  width: 30px;
  height: 30px;
  margin-right: 10px;

  background-color: #62F0DC;
}

/* Normal Cells */
.scrabble-board .cell {
  border: 1px solid #C0F8F1;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #C0F8F1;
  border-radius: 8px;
  width: 25px;
  height: 25px;
}

.scrabble-board .cell img {
  border: 1px solid #C0F8F1;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #C0F8F1;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Triple Word Score Cell */
.scrabble-board .triple-word-cell {
  border: 1px solid red;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: red;
  border-radius: 8px;
  font-weight: bold;
}

.scrabble-board .triple-word-cell img {
  border: 1px solid red;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: red;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Triple Word Score Cell Hover */
.scrabble-board .triple-word-cell:hover {
  border: 1px solid red;
  background-color: black;
  color: red;
}

/* Double Word Score Cell */
.scrabble-board .double-word-cell {
  border: 1px solid pink;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: pink;
  border-radius: 8px;
  font-weight: bold;
}

.scrabble-board .double-word-cell img {
  border: 1px solid pink;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: pink;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Double Word Score Cell Hover */
.scrabble-board .double-word-cell:hover {
  border: 1px solid pink;
  background-color: black;
  color: pink;
}

/* Triple Letter Score Cell */
.scrabble-board .triple-letter-cell {
  border: 1px solid blue;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: blue;
  border-radius: 8px;
  font-weight: bold;
}

.scrabble-board .triple-letter-cell img {
  border: 1px solid blue;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: blue;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Triple Letter Score Cell Hover */
.scrabble-board .triple-letter-cell:hover {
  border: 1px solid blue;
  background-color: black;
  color: blue;
}

/* Double Letter Score Cell */
.scrabble-board .double-letter-cell {
  border: 1px solid lightblue;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: lightblue;
  border-radius: 8px;
  font-weight: bold;
}

.scrabble-board .double-letter-cell img {
  border: 1px solid lightblue;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: lightblue;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Double Letter Score Cell Hover */
.scrabble-board .double-letter-cell:hover {
  border: 1px solid lightblue;
  background-color: black;
  color: lightblue;
}

/* Center Star Score Cell */
.scrabble-board .center-star-cell {
  border: 1px solid yellow;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: yellow;
  border-radius: 8px;
  font-weight: bold;
}

.scrabble-board .center-star-cell img {
  border: 1px solid yellow;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  background-color: yellow;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Center Star Score Cell */
.scrabble-board .center-star-cell:hover {
  border: 1px solid yellow;
  background-color: black;
  color: yellow;
}




/*  */
#tile-rack {
  display: flex;
  justify-content: flex-start;
  position: absolute;
}

#score-display {
  margin-top: 20px;
}


/* Deal Button */
#deal-button {
  margin-left: 300px;
  position: relative;
  top: 200px;
}

/* Order Cell Toggle Button */
.order-cell-toggle-button {
  border: none;
  background-color: #62F0DC;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
}

.play-zone .tile-rack #tile1{
  padding-right: 100px;
  margin-right: 1000px;
  height: 25px;
}

.play-zone .tile-rack #tile2{
  padding-right: 100px;
  margin-right: 1000px;
  height: 25px;
}

.play-zone .tile-rack #tile3{
  padding-right: 100px;
  margin-right: 1000px;
  height: 25px;
}

.play-zone .tile-rack #tile4{
  padding-right: 100px;
  margin-right: 1000px;
  height: 25px;
}

.play-zone .tile-rack #tile5{
  padding-right: 100px;
  margin-right: 1000px;
  height: 25px;
}

.play-zone .tile-rack #tile6{
  padding-right: 100px;
  margin-right: 1000px;
  height: 25px;
}

.play-zone .tile-rack #tile7{
  padding-right: 100px;
  margin-right: 1000px;
  height: 25px;
}

